
body {
    margin: 0;
    padding: 0;
  }
  
.navbar {
  background: rgb(2,4,18);
    color: #080101; /* Change the text color to your preference */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0px;
    font-family: Arial, sans-serif; /* Change the font as needed */
  }
  
  .navbar .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .navbar .wrapper .item {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-right: 25px; 
  }
  
  .navbar .wrapper .left {
    display: flex;
  align-items: center;
  margin-right: 20px;
  }
  
  .navbar .wrapper .center {
    font-size: 30px;
  letter-spacing: 2px;
  }
  
  .navbar .wrapper .right {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .navbar .wrapper .right .icons {
    display: flex;
    gap: 15px;
    color: #777;
    cursor: pointer;
  }
  
  .navbar .wrapper .right .icons .cartIcon {
    position: relative;
  }
.left .item .link{

    margin-left: 80px;
    display: inline;
}
.right .item .link{
    margin-right: 50px;
}  
  .link {
    text-decoration: none;
    color: #fff; /* Change the link color to your preference */
  }
  .icons {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .cartIcon {
    position: relative;
  }
  
  .navbar .wrapper .right .icons .cartIcon span {
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2879fe;
    color: white;
    position: absolute;
    right: -10px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  